<template name="channels">
    <div class="channels-view">
        <h1> Channels </h1>
        <ul class="channels-list">
        {{#each channel in ChannelsToDisplay}}
            <li class="channel-list-item {{GetClassForIsSubscribedTo channel._id}}">
                <div class="left-side">
                    <h2 class="name"> {{channel.name}} </h2>
                    <p class="description"> {{channel.description}} </p>
                </div>
                
                <div class="right-side">
                    <button class="subscribe-button" channel-id="{{channel._id}}">
                        {{#if IsSubscribedTo channel._id}}
                            Subscribed
                        {{else}}
                            Subscribe
                        {{/if}}
                    </button>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
</template>