.main-navbar {
    display: flex;
    width: 100%;
    height: 100%;

    .nav-item {
        flex: 1;
        display: flex;
        background-color: #CACACA;
        &:hover {
        background-color: #333333;            
        }
        p {
            margin: auto;
            color: rgb(74, 68, 68);
        }
        &:hover p {
            color: white;
        }
    }
}

.nav-to-channel {
}

.channels-view {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
    }

    .channel-list-item {
        background: white;
        padding: 10px;

        display: flex;
        justify-content: space-between;

        .left-side {
            display: inline-flex;
            flex-direction: column;
            margin-right: 1em;

            .name {
                font-size: large;
            }
        }
        .right-side {
            display: inline-flex;
            align-self: center;

            .subscribe-button {
                width: 7em;
            }
        }

        &.subscribed {
            .subscribe-button {
                background-color: #666666;
                color: #DDDDDD;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}